.home h1 {
  text-align: center;
}
.home ul img {
  width: 100%;
}
.home ul a {
  width: 45%;
  margin-bottom: 29px;
  color: black;
  text-decoration: none;
}
.home ul {
  margin: 10px 100px;
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.home ul a h2 {
  text-align: center;
  margin: 0;
}
.home a button {
  display: block;
  margin: 1px auto;
  border: none;
  background-color: darkcyan;
  padding: 6px 20px;
  border-radius: 5px;
  cursor: pointer;
}
