@import url("https://fonts.cdnfonts.com/css/roboto");
.inter .hero {
  /* Ensure the container fills the entire viewport */
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Hide any overflow content */
}

.inter .hero .hero-img {
  width: 100vw; /* Set image width to 100% of the viewport width */
  height: 100vh; /* Set image height to 100% of the viewport height */
  object-fit: cover; /* Scale the image to cover the container */
  object-position: center; /* Center the image */
  position: relative;
}
.inter .hero h2 {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 49vh;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2.3rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5) as needed */
}
.inter .hero {
  background-color: #000;
}
.inter nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  color: white;
  width: 100%;
}
.inter .logo {
  width: 200px;
  height: fit-content;
  margin-right: 100px;
}

.inter .right {
  flex-grow: 1;
}
.inter nav .top {
  display: flex;
  justify-content: right;
}

.inter nav .bottom {
  display: flex;
  justify-content: right;
}
.inter nav .re,
.location {
  display: flex;
  width: 250px;
  padding: 17px 0;
}
.inter nav .top button {
  width: 250px;
  background-color: #0b1222;
  text-align: center;
  border: none;
  color: white;
  height: 100%;
}
.inter nav hr {
  margin: 0px;
  background-color: red;
}
.inter nav .location p {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}
.inter nav .re p {
  font-size: 1.2rem;
  margin: 0;
  font-weight: bold;
}
.inter nav .icon {
  height: 32px;
}
.inter nav .small {
  margin: 0;
  font-size: 0.6rem !important;
}

.inter nav .bottom p {
  flex-grow: 1;
  margin: 3px;
}

.mado .foci h1 {
  text-align: center;
}
.mado .foci p {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.mado .fe {
  display: flex;
  padding: 10px 200px;
}
.mado .fe div {
  width: 50%;
}

.c-cejRVw {
  display: none !important;
}
#voiceflow-chat {
  position: relative;
}
.mado::before {
  content: "1";
  display: block;

  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  position: fixed;
  border-radius: 50%;
  bottom: 70px;
  right: 75px;
  z-index: 1111;
  box-shadow: 0 0 5px #000 !important;
  border: 2px solid #a30000 !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #b60000 !important;
  color: white;
  font-family: Roboto, sans-serif !important;
}

.mado .fe p {
  margin: 0;
}
.mado li {
  margin-bottom: 9px;
}
.mado .header {
  font-weight: bold;
}
.mado .offer h2 {
  text-align: center;
}
.mado .offer p {
  max-width: 600px;
  margin: 30px auto;
}
.mado .offer {
  display: flex;
  max-width: 900px;
  margin: 10px auto;
}

.mado .offer a {
  color: black;

  font-weight: bold;
  font-size: 1.4rem;
  padding: 20px 30px;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
}
.mado .offer .website {
  color: white;
  background-color: #4c8577;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 20px 30px;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
}
.mado .offer .links {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .inter nav .right {
    display: none;
  }
  .mado .fe {
    padding: 10px;
    flex-wrap: wrap;
  }
  .mado .fe div {
    width: 100%;
  }
  .foci p {
    padding: 10px 40px;
  }
  .mado .fe div {
    padding: 5px;
  }
  .mado .offer {
    flex-wrap: wrap;
  }
  .mado .offer div {
    width: 90%;
    margin: auto;
  }
}
