.mado .hero {
  /* Ensure the container fills the entire viewport */
  height: 87vh;
  width: 100vw;
  overflow: hidden; /* Hide any overflow content */
}

.hero img {
  width: 100vw; /* Set image width to 100% of the viewport width */
  height: 87vh; /* Set image height to 100% of the viewport height */
  object-fit: cover; /* Scale the image to cover the container */
  object-position: center; /* Center the image */
}
.mado .reservation {
  display: flex;
  width: 80%;
  margin: 15px auto;
  box-shadow: black 1px 1px 7px 1px;
  border-radius: 4px;
  padding: 10px;
}

.mado .reservation div {
  flex-grow: 1;
}
.mado .reservation input {
  padding: 12px;
  border: none;
}
.mado .reservation p {
  margin: 0;
  font-size: 0.9rem;
}
.mado .reservation button {
  background-color: #e9631a;
  color: white;
  padding: 15px;
  border: 1px solid black;
  height: 100%;
  width: 95%;
}
.mado .foci h1 {
  text-align: center;
}
.mado .foci p {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.mado .fe {
  display: flex;
  padding: 10px 200px;
}
.mado .fe div {
  width: 50%;
}

.c-cejRVw {
  display: none !important;
}
#voiceflow-chat {
  position: relative;
}
.mado::before {
  content: "1";
  display: block;

  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  position: fixed;
  border-radius: 50%;
  bottom: 70px;
  right: 75px;
  z-index: 1111;
  box-shadow: 0 0 5px #000 !important;
  border: 2px solid #a30000 !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #b60000 !important;
  color: white;
  font-family: Roboto, sans-serif !important;
}

.mado .fe p {
  margin: 0;
}
.mado li {
  margin-bottom: 9px;
}
.mado .header {
  font-weight: bold;
}
.mado .offer h2 {
  text-align: center;
}
.mado .offer p {
  max-width: 600px;
  margin: 30px auto;
}
.mado .offer {
  display: flex;
  max-width: 900px;
  margin: 10px auto;
}

.mado .offer a {
  color: black;

  font-weight: bold;
  font-size: 1.4rem;
  padding: 20px 30px;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
}
.mado .offer .website {
  color: white;
  background-color: #4c8577;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 20px 30px;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
}
.mado .offer .links {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .mado .reservation {
    display: none;
  }

  .mado .fe {
    padding: 10px;
    flex-wrap: wrap;
  }
  .mado .fe div {
    width: 100%;
  }
  .foci p {
    padding: 10px 40px;
  }
  .mado .fe div {
    padding: 5px;
  }
  .mado .offer {
    flex-wrap: wrap;
  }
  .mado .offer div {
    width: 90%;
    margin: auto;
  }
}
